/* UTILITIES */
/* backgrounds */
/* ESTILOS GENERALES */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

/* ESTILOS DEL HEADER */
header #cabecera {
  display: flex;
  justify-content: space-between;
  position: sticky;
  z-index: 1;
  padding: 20px;
  align-items: center;
  height: 100px;
  background-color: #303841; }
  header #cabecera button {
    gap: 10px;
    background-color: #D72323;
    color: white;
    font-weight: bold;
    width: 6rem;
    height: 2.5rem; }
    header #cabecera button:hover {
      transform: scale(0.9); }

/* ESTILOS DEL BODY */
body {
  background-color: #EEEEEE;
  color: white; }

/* ESTILOS DEL FOOTER */
#pie {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  height: 100px;
  background-color: #3A4750; }
  #pie a {
    text-decoration: none;
    font-weight: bold;
    color: white; }

/* ESTILOS DEL INDEX */
#tienda {
  max-width: 100vw;
  margin: 50px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 40px; }
  #tienda .producto {
    display: flex;
    flex-direction: column;
    gap: 10px;
    max-width: 300px;
    height: auto;
    padding: 20px;
    border: 1px solid black;
    background-color: #3A4750;
    color: white;
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
    border-radius: 22px 22px 112px 22px;
    -moz-border-radius: 22px 22px 112px 22px;
    -webkit-border-radius: 22px 22px 112px 22px;
    border: 0px solid #000000; }
    #tienda .producto .producto__img {
      width: 100%;
      height: auto; }
    #tienda .producto h3,
    #tienda .producto p,
    #tienda .producto button {
      align-self: center; }
    #tienda .producto button {
      width: 150px;
      height: 30px;
      background-color: #D72323;
      color: white;
      font-weight: bold;
      width: 6rem;
      height: 2.5rem; }
      #tienda .producto button:hover {
        transform: scale(0.9); }

.modal-contenedor {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.3);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all .5s;
  opacity: 0;
  visibility: hidden;
  color: black !important; }

.modal-active {
  opacity: 1;
  visibility: visible; }

.modal-carrito {
  position: relative;
  background-color: white;
  min-width: 500px;
  padding: 20px;
  margin-top: -100%;
  transition: all .5s; }

.modal-active .modal-carrito {
  margin-top: 0; }

.modal-carrito h3 {
  color: royalblue;
  padding-bottom: 5px; }

.modal-carrito #carritoCerrar {
  position: absolute;
  top: 15px;
  right: 15px;
  font-size: 20px;
  color: royalblue;
  border: none;
  background-color: white; }

.modal-carrito #carritoCerrar:hover {
  cursor: pointer; }

.modal-carrito #carritoCerrar:focus {
  outline: none; }

.modal-carrito .precioProducto {
  padding-top: 10px; }

.productoEnCarrito {
  border-left: 5px solid lightblue;
  border-bottom-left-radius: 3px;
  border-top-left-radius: 3px;
  margin: 5px 0;
  padding: 5px 10px;
  display: flex;
  justify-content: space-between; }

.productoEnCarrito:hover {
  border-left: 5px solid royalblue; }

.boton-eliminar {
  background-color: white;
  color: red;
  border: none;
  font-size: 20px; }

.boton-eliminar:hover {
  cursor: pointer; }

.boton-eliminar:focus {
  outline: none; }

/* MEDIA QUERIES */
